@model IEnumerable<Mvc4WebApplication.Models.InstrumentMaturity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstrumentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maturity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaturityToString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastInterestToString)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstrumentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maturity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaturityToString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastInterestToString)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { name = item.InstrumentName, maturity = item.Maturity }) |
            @Html.ActionLink("Details", "Details", new { name = item.InstrumentName, maturity = item.Maturity }) |
            @Html.ActionLink("Delete", "Delete", new { name = item.InstrumentName, maturity = item.Maturity })
        </td>
    </tr>
}

</table>
